//begin info
.info
  span.info__article Model: 505795
  h2.info__model Momentum<sup>&#174;</sup>
  h3.info__submodel Wireless Black
  span.info__descr Peak performance with active noise cancelation. Sennheiser's new MOMENTUM Wireless - Closed circumaural headphone featuring Bluetooth® wireless technology and NoiseGard Hybrid active noise cancelation

  //begin info__row
  .info__row.info__row--statistic
    .info__rating
      include ../elements/rating
    span.info__rating-value 4.25
    span.info__reviews (153 reviews)
  //end info__row

  //begin info__row
  .info__row
    .info__price $499.95
    .info__colors
      include ../elements/colors
  //end info__row

  //begin info__row
  .info__row
    .info__counter
      include ../elements/counter
    button.info__btn.btn Add to Cart
  //end info__row
//end info