//begin info-colors
.colors
  span.colors__title Choose your colors:
  ul.colors__list
    li.colors__item.active
      .colors__img
        img(src="assets/img/color-01.jpg" alt="picture")
    li.colors__item
      .colors__img
        img(src="assets/img/color-02.jpg" alt="picture")
//end colors