//begin counter
.counter
  .counter__wrap
    input.counter__input(value='01')
    .counter__btns
      button.counter__btn.counter__btn--up
        +svg('arrow-down')
      button.counter__btn.counter__btn--down
        +svg('arrow-down')
//end counter
