//begin rating
ul.rating(data-rating='4')
  li.rating__item
    input(type='radio' name='rating' value='1').rating__input
  li.rating__item
    input(type='radio' name='rating' value='2').rating__input
  li.rating__item
    input(type='radio' name='rating' value='3').rating__input
  li.rating__item
    input(type='radio' name='rating' value='4' checked).rating__input
  li.rating__item
    input(type='radio' name='rating' value='5').rating__input
//end rating